// Default variable overrides
$font-family-sans-serif: 'Public Sans', 'Inter', sans-serif;
$font-family-base: 'Public Sans', 'Inter', sans-serif;

$body-bg: #f1f2f5;
$body-color: #4d5157;
$font-size-base: 0.94rem;
$border-color: #eaecef;

// $primary: #e12c47 !default;
$primary: #8a2aff !default;
$danger: #d7083c !default;
$text-danger: #d7083c !default;

// Button 
$success: #00ba57 !default;

// Input
$input-bg: #fff;
$input-focus-box-shadow: none !important;
$input-border-color: #c9d6e0;
$input-placeholder-color: #96a4b3;
$form-check-input-width: 1.2em;
$form-check-min-height: 1.2em;

// Card 
$card-cap-bg: transparent !important;
$card-inner-border-radius: 10px !important;
$card-border-radius: 12px;
$card-border-width: 0 !important;
$card-cap-padding-y: 12px;

// Modal 
$btn-close-width: 12px;
$btn-close-height: $btn-close-width;
$btn-close-focus-shadow: none;



$badge-font-weight: 500;

.alert-danger {
    color: #a9022c !important;
}


.table tr th {
    font-weight: 500;
}

h5 {
    font-size: 1.08rem !important;
}

.card-title {
    color: #2e3134 !important;
}

.btn-primary {
    color: white !important;
}
.bg-soft-primary {
    background-color: rgba(131, 42, 255, 0.2) !important;
}
.btn.bg-soft-primary:hover {
    background-color: rgba(131, 42, 255, 0.3) !important;
}
.bg-soft-danger {
    background-color: rgba(255, 42, 49, 0.2) !important;
}
.btn.bg-soft-danger:hover {
    background-color: rgba(255, 42, 49, 0.4) !important;
}
.bg-soft-success {
    background-color: rgba(42, 255, 92, 0.2) !important;
}
.btn.bg-soft-success {
    background-color: rgba(42, 255, 92, 0.3) !important;
}
.bg-soft-info {
    background-color: rgba(13, 202, 240, 0.3) !important;
}
.btn.bg-soft-info {
    background-color: rgba(13, 202, 240, 0.5) !important;
}

// Multiselect 
.multiselect {
    font-size: $font-size-base !important;
    border-radius: 0.375rem !important;
}
.multiselect-option {
    font-size: $font-size-base !important; 
}
.multiselect.is-active {
    box-shadow: none !important;
}
.multiselect.is-invalid {
    border: 1px solid $danger;
}
.multiselect-search {
    border-radius: 0.375rem !important;
    border: 1px solid $border-color;
}
.multiselect-dropdown {
    overflow-y: auto !important;
    border-bottom-left-radius: .375rem !important;
    border-bottom-right-radius: .375rem !important;
}
li.multiselect-option.is-selected,
li.multiselect-option.is-selected:hover {
    background: rgba(131, 42, 255, 0.13) !important;
    color: $primary !important;
}
/* width */
.multiselect-dropdown::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
/* Track */
.multiselect-dropdown::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
.multiselect-dropdown::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb {
    background: #a8a9ae;
    border-radius: 2px;
}
/* Handle on hover */
.multiselect-dropdown::-webkit-scrollbar-thumb:hover,
.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #8d8d91;
}

span.multiselect-caret {
    width: 0.82rem;
    background-color: #4d5157;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.page-item .page-link {
    cursor: pointer !important;
}
.page-link:focus {
    box-shadow: none !important;
}

// Sweetalert 
button.swal2-styled.swal2-confirm {
    margin: 0.3125em;
    padding: 9px 1.1em;
    transition: box-shadow 0.1s;
    box-shadow: none !important;
    background-color: #8a2aff;
    font-weight: 500;
}

.form-control.is-invalid {
    background-image: none !important;
}